.app-container {
    background-image: url("D:/food recipe website/food_recipe/public/images/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  